body{
    background-color: azure;
}

div {
    margin-top: 163px !important;
    margin: auto;
        width: 50%;
       
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    text-align: center;
    margin-top: 53px !important;
}

span{
    color: rgb(255, 50, 14);
}